	
/********** FONT FAMILY **********/
	
	
:root{
	--loobek-logo-width: 172px;
	--loobek-logo-ipad-width: 130px;
	--loobek-logo-mobile-width: 110px;
	
	--loobek-main-font: Plus Jakarta Sans;
	--loobek-main-font-weight: 400;
	--loobek-main-letter-spacing: 0px;
	--loobek-main-font-bold: Plus Jakarta Sans;
	--loobek-main-font-bold-weight: 600;
	--loobek-main-font-extra-bold: Plus Jakarta Sans;
	--loobek-main-font-extra-bold-weight: 700;
	--loobek-main-font-thin: Plus Jakarta Sans;
	--loobek-main-font-thin-weight: 300;
	--loobek-main-font-size: 14px;
	--loobek-main-font-line-height: 24px;
	--loobek-main-font-bold-size: 18px;
	--loobek-main-font-bold-line-height: 24px;
	--loobek-main-small-font-size: 13px;
	--loobek-main-small-2-font-size: 12px;
	
	--loobek-button-font: Plus Jakarta Sans;
	--loobek-button-font-weight: 500;
	--loobek-button-font-size: 16px;
	
	--loobek-menu-font: Plus Jakarta Sans;
	--loobek-menu-font-weight: 500;
	--loobek-menu-font-size: 18px;
	--loobek-menu-letter-spacing: 0px;
	--loobek-second-menu-font: Plus Jakarta Sans;
	--loobek-second-menu-font-weight: 500;
	--loobek-second-menu-font-size: 16px;
	--loobek-second-menu-line-height: 24px;
	
	--loobek-product-name-font: Plus Jakarta Sans;
	--loobek-product-name-font-weight: 500;
	--loobek-product-name-font-size: 14px;
	--loobek-product-name-font-line-height: 20px;
	
	--loobek-heading-font: Plus Jakarta Sans;
	--loobek-heading-font-weight: 500;
	--loobek-heading-font-size: 30px;
	--loobek-heading-line-height: 42px;
	--loobek-heading-letter-spacing: 0px;
	
	--loobek-h1-font-size: 72px;
	--loobek-h1-line-height: 80px;
	--loobek-h2-font-size: 40px;
	--loobek-h2-line-height: 52px;
	--loobek-h3-font-size: 30px;
	--loobek-h3-line-height: 42px;
	--loobek-h3-height: -42px;
	--loobek-h4-font-size: 24px;
	--loobek-h4-line-height: 32px;
	--loobek-h5-font-size: 20px;
	--loobek-h5-line-height: 28px;
	--loobek-h6-font-size: 16px;
	--loobek-h6-line-height: 22px;
	
	--loobek-sub-cat-font: Plus Jakarta Sans;
	--loobek-sub-cat-font-weight: 400;
	--loobek-sub-cat-font-size: 13px;
	--loobek-menu-ipad-font-size: 16px;
	--loobek-sub-cat-device-font-size: 13px;
	--loobek-h1-device-font-size: 42px;
	--loobek-h1-device-line-height: 48px;
	--loobek-h2-device-font-size: 30px;
	--loobek-h2-device-line-height: 40px;
	--loobek-h3-device-font-size: 24px;
	--loobek-h3-device-line-height: 32px;
	--loobek-h3-device-height: -32px;
	--loobek-h4-device-font-size: 20px;
	--loobek-h4-device-line-height: 28px;
	--loobek-h5-device-font-size: 18px;
	--loobek-h5-device-line-height: 24px;
	--loobek-h6-device-font-size: 16px;
	--loobek-h6-device-line-height: 22px;
	--loobek-heading-device-font-size: 24px;
	--loobek-heading-device-line-height: 32px;
	
	--loobek-h1-mobile-font-size: 32px;
	--loobek-h1-mobile-line-height: 38px;
	--loobek-h2-mobile-font-size: 26px;
	--loobek-h2-mobile-line-height: 34px;
	
	--loobek-primary-color: rgba(198,33,59,1);
	--loobek-text-in-primary-color: rgba(255,255,255,1);
	--loobek-main-bg: rgba(255,255,255,1);
	--loobek-text-color: rgba(0,0,0,1);
	--loobek-text-light-color: #808080;
	--loobek-text-bold-color: rgba(0,0,0,1);
	--loobek-link-color: rgba(198,33,59,1);
	--loobek-link-hover-color: rgba(198,33,59,1);
	--loobek-border: rgba(229,229,229,1);
	
	--loobek-input-color: rgba(0,0,0,1);
	--loobek-input-border: rgba(0,0,0,1);
	--loobek-input-hover-color: rgba(0,0,0,1);
	--loobek-input-hover-border: rgba(0,0,0,1);
	
	--loobek-button-color: rgba(255,255,255,1);
	--loobek-button-bg: rgba(0,0,0,1);
	--loobek-button-border: rgba(0,0,0,1);
	--loobek-button-hover-color: rgba(255,255,255,1);
	--loobek-button-hover-bg: rgba(198,33,59,1);
	--loobek-button-hover-border: rgba(198,33,59,1);
	
	--loobek-breadcrumb-color: rgba(0,0,0,1);
	--loobek-breadcrumb-bg: rgba(255,255,255,1);
	--loobek-breadcrumb-border-color: rgba(229,229,229,1);
	--loobek-breadcrumb-link-hover: rgba(198,33,59,1);
	--loobek-breadcrumb-img-color: rgba(255,255,255,1);
	--loobek-breadcrumb-img-link-hover: rgba(198,33,59,1);
	
	--loobek-nav-color: rgba(0,0,0,1);
	--loobek-nav-hover-color: rgba(0,0,0,1);
	--loobek-nav-bg: rgba(255,255,255,1);
	--loobek-nav-hover-bg: rgba(245,245,245,1);
	
	--loobek-notice-bg: rgba(198,33,59,1);
	--loobek-notice-color: rgba(255,255,255,1);
	--loobek-notice-border-color: rgba(198,33,59,1);
	
	--loobek-menu-color: rgba(0,0,0,1);
	--loobek-menu-hover-color: rgba(0,0,0,1);
	--loobek-submenu-color: rgba(0,0,0,1);
	--loobek-submenu-heading-color: rgba(0,0,0,1);
	--loobek-submenu-hover-color: rgba(198,33,59,1);
	--loobek-submenu-bg: rgba(255,255,255,1);
	--loobek-menu-2-color: rgba(128,128,128,1);
	--loobek-menu-2-hover-color: rgba(0,0,0,1);
	--loobek-menu-2-active-color: rgba(255,255,255,1);
	--loobek-menu-2-active-bg: rgba(0,0,0,1);
	
	--loobek-header-mobile-color: rgba(0,0,0,1);
	--loobek-header-mobile-hover-color: rgba(198,33,59,1);
	--loobek-header-mobile-bg: rgba(255,255,255,1);
	--loobek-header-mobile-border-color: rgba(229,229,229,1);
	--loobek-header-mobile-cart-color: rgba(255,255,255,1);
	--loobek-header-mobile-cart-bg: rgba(0,0,0,1);
	
	--loobek-menu-mobile-color: rgba(0,0,0,1);
	--loobek-menu-mobile-hover-color: rgba(198,33,59,1);
	--loobek-menu-mobile-title-active-color: rgba(128,128,128,1);
	--loobek-menu-mobile-bg: rgba(255,255,255,1);
	--loobek-menu-mobile-border-color: rgba(229,229,229,1);
	
	--loobek-menu-bottom-mobile-color: rgba(0,0,0,1);
	--loobek-menu-bottom-mobile-hover: rgba(198,33,59,1);
	--loobek-menu-bottom-bg: rgba(255,255,255,1);
	--loobek-menu-bottom-border-color: rgba(229,229,229,1);
	
	--loobek-top-header-color: rgba(0,0,0,1);
	--loobek-top-header-link-hover: rgba(198,33,59,1);
	--loobek-top-header-bg: rgba(255,255,255,1);
	--loobek-top-header-border: rgba(229,229,229,1);
	--loobek-middle-header-color: rgba(0,0,0,1);
	--loobek-middle-header-link-hover: rgba(198,33,59,1);
	--loobek-middle-header-bg: rgba(255,255,255,1);
	--loobek-middle-header-border: rgba(229,229,229,1);
	--loobek-header-cart-number-color: rgba(255,255,255,1);
	--loobek-header-cart-number-bg: rgba(0,0,0,1);
	
	--loobek-header-search-color: rgba(0,0,0,1);
	--loobek-header-search-placeholder-color: rgba(153,153,153,1);
	--loobek-header-search-bg: rgba(240,240,240,1);
	--loobek-header-search-border-color: rgba(240,240,240,1);
	--loobek-header-search-icon-color: rgba(0,0,0,1);
	--loobek-header-search-hover-icon: rgba(198,33,59,1);
	
	--loobek-footer-bg: rgba(255,255,255,1);
	--loobek-footer-color: rgba(0,0,0,1);
	--loobek-footer-hover-color: rgba(198,33,59,1);
	--loobek-footer-heading-color: rgba(0,0,0,1);
	--loobek-footer-border: rgba(229,229,229,1);
	
	--loobek-product-button-thumbnail-color: rgba(0,0,0,1);
	--loobek-product-button-thumbnail-hover-color: rgba(255,255,255,1);
	--loobek-product-button-thumbnail-bg: rgba(255,255,255,1);
	--loobek-product-button-thumbnail-bg-hover: rgba(0,0,0,1);
	
	--loobek-shop-bg: rgba(250,250,250,1);
	--loobek-quantity-bg: rgba(240,240,240,1);
	--loobek-product-detail-deal-color: rgba(198,33,59,1);
	--loobek-product-detail-deal-bg: rgba(254,233,236,1);
	--loobek-star-color: rgba(0,0,0,1);
	--loobek-product-price-color: rgba(0,0,0,1);
	--loobek-product-sale-price-color: rgba(198,33,59,1);
	--loobek-product-del-color: rgba(128,128,128,1);
	--loobek-sale-label-color: rgba(255,255,255,1);
	--loobek-sale-label-bg: rgba(198,33,59,1);
	--loobek-new-label-color: rgba(0,0,0,1);
	--loobek-new-label-bg: rgba(255,255,255,1);
	--loobek-hot-label-color: rgba(255,255,255,1);
	--loobek-hot-label-bg: rgba(17,82,65,1);
	--loobek-soldout-label-color: rgba(0,0,0,1);
	--loobek-soldout-label-bg: rgba(240,240,240,1);
}